.wallet-modal {
    background: #000000eb;
    width: 100%;
    height: 100%;
    z-index: 100000;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet-bg {
    width: 605px;
    height: 340px;
    background: #4C6CAB;
    box-shadow: 0px 32px 32px rgba(24, 29, 58, 0.05);
    backdrop-filter: blur(64px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}

.wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    justify-content: space-between;
}

.wallet-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.wallet-input-title {
    font-style: bold;
    font-weight: bold;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    width: 200px;

    /* Style [day] / Primary */

    color: #000000;

    flex: none;
    order: 0;

    flex-grow: 0;
    margin: 4px 0px;
}

.wallet-input-title.warning {
    color: #ffe001;
    font-weight: normal;
}

.input-field {
    position: relative;
    width: 100%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 240px;
    margin-block: 5px;
}

:root {
    --var-input-padding: 12px;
    --var-input-icon-width: 16px;
    --var-input-icon-height: 16px;
}

.input-field input {
    position: relative;
    width: 100%;
    text-align: left;
    color: black;
    /* padding-inline: calc(calc(var(--var-input-padding) * 2) + var(--var-input-icon-width)); */
    padding: 0px 40px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgb(0 0 0 / 5%);
    box-sizing: border-box;
    border: 2px solid #000000;
}

.icon {
    position: absolute;
    padding: 0 12px;
    height: var(--var-input-icon-height);
    min-width: var(--var-input-icon-width);
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    z-index: 1;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right {
    position: absolute;
    padding: 0 12px;
    height: var(--var-input-icon-height);
    min-width: var(--var-input-icon-width);
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
    z-index: 1;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wallet-container button {
    width: 250px;
    height: 50px;
    /* Main Color */

    background: #FFE001;
    border-radius: 4px;
    outline: 0;
    border: 0;
}

.wallet-container button:disabled {
    opacity: 0.5;
}

.wallet-container button span {
    width: 70px;
    height: 18px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    letter-spacing: -0.0024em;

    /* Title Color */

    color: #212121;
}