@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9yAv5q.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cfe6.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}

* {
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
  user-select: none;
}

html {
  font-family: 'Nunito Sans',
    sans-serif;
  height: 100%;
}

.w100 {
  width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header {
  background: #1A2854;
  height: 56px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.header.footer {
  height: auto;
}

.heightImage100 {
  height: 6.25rem;
  width: auto;
}

.logoImage {
  position: absolute;
  top: 0.5rem;
}

.nav-list {
  display: flex;
}

.header-buttons {
  display: flex;
}

.connect-btn {
  background: none;
  border: none;
}

/* .navbar {
  padding-left: 9.75rem;
} */
.placeholder {
  visibility: hidden;
}

.nav-item {
  margin: 1rem 0;
}

.nav-burger-btns {
  padding: 0.4rem 1rem;
}

.nav-item a {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  font-family: 'Bebas Neue';
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;

  color: #FFFFFF;
}

.wp100 {
  width: 100%;
}

.video-sect {
  margin-top: 70px;
}

section:first-of-type {
  position: unset;
}

section {
  position: relative;
  top: -10px;
}

.info-sect {
  background: #20355D;
  position: relative;
}

.info-banner {
  background: url(../images/texture.png) #FEDC7D;
  border-radius: 11px;
  width: 100%;
  padding: 35px 50px;
  position: relative;
  top: -30px;

}

.info-content {
  margin-top: 90px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.maint-title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;

  color: #FEDC7D;
}

.main-description {
  margin-top: 1.875rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;

  color: #FFFFFF;
}

b {
  font: revert;

}

.LinesEllipsis-ellipsis {
  color: rgb(255, 201, 84);
  cursor: pointer;
}

.info-vid {
  width: 720px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.contentText {
  width: 41.6666666667%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: initial;
  margin-top: 10px;
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
}

.features {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  background-image: url(../images/back-ground-main-update.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.f_title {
  margin-bottom: 80px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 2.625rem;
  line-height: 64px;

  color: #FFFFFF;
}

.f-s-block {
  text-align: center;
  width: 30%;
}

.f-s-block h3 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;

  color: #FFFFFF;
}

.f-s-block h4 {
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

.character {
  background-image: url(../images/back-ground-character.jpg);
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 3.125rem;
}

.ch-head {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;

  color: #FFFFFF;

}

.character-select,
.token-img {
  margin-top: 80px;
}

.token-img {
  margin-left: 75px;
}

.tokenomics {
  background: linear-gradient(rgb(16, 26, 69) 0%, rgb(17, 112, 168) 100%) center center / cover no-repeat;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.roadmap {
  position: relative;
  background-image: url(../images/bg-timeline.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4.375rem;

}

.footer {
  margin-top: -10px;
}

.sdasd {
  width: 108px;
  height: 72px;
}

.team img,
.partner img {
  width: 100%;
}

.listSelect {
  margin-bottom: 40px;
}

.avatar {
  margin-right: 8px;
  margin-bottom: 8px;
}

.character-text {
  margin-bottom: 15px;
}

.nameChar {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
}

.subnameChar {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.handClick {
  cursor: pointer;
}

.character-star {
  margin-bottom: 20px;
}

.star-image {
  margin-right: 15px;
}

.character-name {
  margin-bottom: 15px;
}

.lineBlue {
  height: 1px;
  display: flex;
  margin-bottom: 20px;
  background: linear-gradient(270deg, rgba(102, 193, 243, 0) 0%, rgb(102, 193, 243) 54.69%, rgba(102, 193, 243, 0) 100%);
}

.character-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;
}


.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background: #f8f8f8;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.tabs__link {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: black;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.tabs__link_active {
  background: lightgray;
  cursor: default;
}

.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
  background-color: #efefef;
}

/* .tabs__content {
  padding: 1rem;
} */

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}

/* .listSelect > *.handClick_active{

} */
.handClick[href="#content-1"]>span {
  display: block;
  width: 90px;
  height: 114px;
  background: url(../images/characters/1/avatar-default-update-x.jpg);
}

.handClick[href="#content-2"]>span {
  display: block;
  width: 90px;
  height: 114px;
  background: url(../images/characters/2/avatar-default-update-x.jpg);
}

.handClick[href="#content-3"]>span {
  display: block;
  width: 90px;
  height: 114px;
  background: url(../images/characters/3/avatar-default-update-x.jpg);
}

.handClick[href="#content-4"]>span {
  display: block;
  width: 90px;
  height: 114px;
  background: url(../images/characters/4/avatar-default-update-x.jpg);
}

.handClick[href="#content-5"]>span {
  display: block;
  width: 90px;
  height: 114px;
  background: url(../images/characters/5/avatar-default-update-x.jpg);
}

.handClick[href="#content-1"].handClick_active>span {
  background: url(../images/characters/1/avatar-active-update-x.jpg);
}

.handClick[href="#content-2"].handClick_active>span {
  background: url(../images/characters/2/avatar-active-update-x.jpg);
}

.handClick[href="#content-3"].handClick_active>span {
  background: url(../images/characters/3/avatar-active-update-x.jpg);
}

.handClick[href="#content-4"].handClick_active>span {
  background: url(../images/characters/4/avatar-active-update-x.jpg);
}

.handClick[href="#content-5"].handClick_active>span {
  background: url(../images/characters/5/avatar-active-update-x.jpg);
}

.hamburger-menu {
  display: none;
}

@media (max-width:1000px) {
  .contentText {
    width: 100%;
  }

  body>*>* {
    width: 100%;
  }

  .info-banner {
    padding: 22px 22px;
  }

  header .navbar,
  .header-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media (max-width:1200px) {
  .features-subcont {
    flex-wrap: wrap;
  }

  .f-s-block {
    width: 100%;
  }

  .tabs {
    width: 100%;
  }

  .listSelect {
    flex-wrap: wrap;
  }

  .token-img {
    width: 90%;
    margin-left: 0;
  }

  .container {
    width: auto;
  }

  .ch-head {
    font-size: xxx-large;
  }

  .footer-content {
    flex-direction: column;
    align-items: center
  }

  footer .navbar {
    display: none;
  }

  .footer-buttons {
    margin-top: 15px;
    flex-direction: column;
    text-align: center;
  }

  .footer-buttons>:first-child {
    margin-bottom: 10px;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #ebbc54;

  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  /* left: -100%; */

  width: 90%;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: rgba(16, 46, 92, 0.952);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}